.contacts {
  &__title {
    @extend %h2-title;

    @media (min-width: 600px) {
      & {
        margin-bottom: 61px;
      }
    }
  
    &::after {
      @extend %crown;
    }
  }

  &__contact-wrapper {
    display: grid;
    row-gap: 32px;

    @media (min-width: 1070px) {
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 413px);
    }
  }

  &__contact-block {
    display: grid;
    justify-content: space-between;

    @media (min-width: 600px) {
      grid-template-columns: 153px 153px;
      grid-template-rows: 62px 62px;
      grid-auto-flow: column;
      row-gap: 24px;
    }
  }

  @media (min-width: 600px) {
    &__address {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &__contact-block-title {
    margin: 0 0 8px;
    @extend %grey-subheading;
  }

  &__contact-block-text {
    margin: 0;
    line-height: 27px;
  }

  &__form-block,
  &__contact-block {
    max-width: 413px;
  }

  &-input-style::placeholder {
    color: #8f99a8;
  }

  &-input-style {
    @extend %input-style;
    height: 48px;
    outline: none;

    &:hover {
      border: 2px solid #ccd0e0;
    }

    &:active,
    &:focus {
      border: 2px solid #0075ff;
    }
  }

  &__form {
    display: grid;
    row-gap: 16px;

    &-message {
      height: 144px;
    }

    &-btn {
      @extend %btn-style;
      background: #0075ff;
      box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
      border: none;
      color: #fff;
      cursor: pointer;
      outline: none;
      transition: 0.3s ease-in-out;

      &:hover {
        @extend %btn-hover-style;
      }

      &:active {
        @extend %btn-active-style;
      }
    }
  }
}
