.testimonials {
  &__title {
    @extend %h2-title;

    @media (min-width: 600px) {
      & {
        margin-bottom: 61px;
      }
    }
  
    &::after {
      @extend %crown;
    }
  }

  &__cards-wrapper {
    display: grid;
    row-gap: 48px;

    @media (min-width: 840px) {
      justify-content: space-between;
      grid-template-columns: repeat(auto-fit, 240px);
    }
  }

  &__person-card {
    text-align: center;
  }

  &__person-img {
    @include size(153px, 153px);
    border-radius: 50%;
  }

  &__person-position {
    @extend %grey-subheading;
  }

  &__text {
    line-height: 27px;
  }
}
