.footer {
  height: 206px;
  position: relative;
  background-image: url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 600px) {
    height: 359px;
  }

  &__logo {
    @include size(76px, 115px);
    position: absolute;
    bottom: 40px;
    left: calc(50% - 58px);

    &-img {
      @include size(100%, 100%);
    }
  }
}
