@import "blocks/normalize";
@import "blocks/container";
@import "blocks/page";

@import "blocks/header/header";
@import "blocks/header/nav";
@import "blocks/about/about";
@import "blocks/gallery/gallery";
@import "blocks/testimonials/testimonials";
