.about {
  padding-top: 64px;

  @media (min-width: 600px) {
    & {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 104px;
    }
  }

  @media (min-width: 1105px) {
    &__description {
      max-width: 500px;
    }
  }
}

.about__title-last-word {
  text-decoration: none;
  color: #0075ff;
}

.about__description-text {
  line-height: 27px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__title-wrapper {
  margin: 0 40px 48px 0;
}
