%h1 {
  font-weight: bold;
}

%h2 {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
}

%h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff;
}

%btn-style {
  height: 56px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
}

%btn-hover-style {
  border: none;
  background: #005ecc;
  box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
  color: #fff;
}

%btn-active-style {
  border: none;
  box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
  background: #005ecc;
  color: #fff;
}

%h2-title {
  position: relative;
  margin-bottom: 53px;
  text-align: center;
}

%grey-subheading {
  font-size: 14px;
  line-height: 27px;
  color: #9fadc2;
}

%crown {
  content: url("../images/icons/crown.svg");
  height: 24px;
  width: 24px;
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 12px);
}

%input-style {
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
}
