@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin lateralPaddings($left, $right) {
  padding-left: $left;
  padding-right: $right;
}
