.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 24px;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 700;
  color: #fff;
}

.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.logo {
  @include size(48px, 82px);
  z-index: 2;

  @media (min-width: 600px) {
    @include size(80px, 136px);
  }
}

.menu-icon {
  @include size(24px, 24px);
  background-image: url("../images/icons/icon-burger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  cursor: pointer;
  transform: rotate(0turn);
  transition: transform 0.8s ease-in-out;

  @media (min-width: 600px) {
    & {
      @include size(32px, 32px);
    }
  }

  &:hover {
    background-image: url("../images/icons/icon-burger-menu-hover.svg");
  }
}

.close-icon {
  background-image: url("../images/icons/icon-close.svg");
  transform: rotate(20turn);
  transition: transform 0.8s ease-in-out;

  &.close-icon:hover {
    background-image: url("../images/icons/icon-close.svg");
    transform: rotate(19turn);
  }
}

@media (min-width: 600px) {
  .phone-wrapper {
    position: relative;
  }

  .phone-number {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -128px;
    height: 32px;
    width: 128px;
    overflow: hidden;

    &::before {
      content: "+1 234 555-55-55";
      position: absolute;
      right: -128px;
      width: 128px;
      transition: all 0.3s ease-in-out;
    }
  }
}

.phone-icon {
  @include size(24px, 24px);
  background-image: url("../images/icons/icon-phone-call.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;

  @media (min-width: 600px) {
    & {
      @include size(32px, 32px);
    }

    &:hover ~ ::before {
      right: 0;
    }
  }
}

.header__title-container {
  position: relative;
  margin-bottom: 80px;
  transition: all 0.5s ease-in-out;
}

.header__title {
  margin: 0;
  font-size: 46px;
  line-height: 40px;
  letter-spacing: -1px;

  @media (min-width: 600px) {
    & {
      font-size: 80px;
      line-height: 80px;
      letter-spacing: -1.5px;
    }
  }

  &:before {
    position: absolute;
    top: -24px;
    content: "";
    width: 40px;
    height: 2px;
    background-color: #fff;
  }
}
