.gallery {
  &__title {
    @extend %h2-title;

    @media (min-width: 600px) {
      & {
        margin-bottom: 61px;
      }
    }
  
    &::after {
      @extend %crown;
    }
  }

  &__photo {
    height: 131px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  
    @media (min-width: 600px) {
      & {
        height: 256px;
      }
    }
  }

  &__img-wrapper {
    display: grid;
    row-gap: 32px;
    margin-bottom: 32px;
    grid-template-rows: 1fr 1fr 1fr;

    @media (min-width: 600px) {
      & {
        row-gap: 40px;
        margin-bottom: 40px;
      }
    }
  }

  &__img-group-1 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 600px) {
      & {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  &__img-group-2 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  &__img-group-3 {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 600px) {
      & {
        grid-template-columns: 1fr 2fr;
      }
    }
  }

  &__img-group-description {
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 3;

    & > span {
      color: #0075ff;
    }

    @media (min-width: 600px) {
      & {
        margin-top: 24px;
      }
    }
  }

  &__more-button {
    display: block;
    margin: 0 auto;
    height: 56px;
    width: 100%;
    border: 2px solid #0075ff;
    border-radius: 8px;
    color: #0075ff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s ease-in-out;

    &:hover {
      width: calc(100% - 9px);
      @extend %btn-hover-style;
    }

    &:active {
      width: calc(100% + 7px);
      @extend %btn-active-style;
    }

    @media (min-width: 480px) {
      & {
        width: #{$btn-width};
      }

      &:hover {
        width: calc(#{$btn-width} - 9px);
      }

      &:active {
        width: calc(#{$btn-width} + 7px);
      }
    }
  }
}
